{{define "header"}}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
         <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
         <link type="text/css" rel="stylesheet" href="/assets/css/materialize.css"  media="screen,projection"/>
         <link href='/assets/css/main.css' rel='stylesheet' type='text/css'>
         <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon">
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
         <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
         <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js.NOTUSE"></script>
         <script src="/assets/js/web3.min.js"></script>
         <script type="application/javascript" src="/assets/js/ethereumjs-accounts.js"></script>


        <title>{{.Title}}</title>
    </head>
{{ end }}
